$white: #fff;
$black: #000;
$red: rgb(203, 57, 57);
$light-blue: rgb(54,149,255);
$deep-blue: rgb(53,100,252);
$light-grey: #949595;

$btn-color: rgb(62, 127, 204);

$login-bg: linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
