@import '../../../assets/scss/_build.scss';

.dropdown {

	&-menu {
		position: relative;
		z-index: 2;
	}

	&-title {
		background: $light-blue;
		height: 3px;
	}

	&-name {
		@include flexbox;
		align-items: center;

		font-size: 1rem;
		color: $light-grey;
		cursor: pointer;

		margin-left: 10px;

		@include transition-animation;

		&::after {
			content: "";
			display: inline-block;
			width: 5px;
			height: 5px;
			transform: rotate(45deg);
			margin: 0 10px;
			border-left: none;
		  border-top: none;
		  border-right: 3px $light-grey solid;
		  border-bottom: 3px $light-grey solid;
			@include transition-animation;
		}

		&:hover,
		&:hover::after {
			color: $light-blue;
			border-color: $light-blue;
		}

	}

	&-list {
		position: absolute;
		top: 38px;
		left: 0;
		width: 120px;
		background-color: #fff;
		box-shadow: 0px 1px 2px 1px rgba($black, .1);
	}

	&-item {
		text-align: left;

		&:last-child .dropdown-link {
			border-bottom: 0;
		}
	}

	&-link {
		font-family: "Lato Bold";
		font-size: .8rem;
		color: $light-grey;
		text-transform: uppercase;
		text-align: left;

		display: block;

		padding: 1rem 0 1rem 1rem;
		border-bottom: 1px solid rgba($black, .2);

		&:hover,
		&:hover .dropdown-icon {
			color: $light-blue;
		}

	}

	&-icon {
		font-size: .8rem;
    color: $light-grey;
    position: absolute;
    right: 10px;
	}
	
}
