@import '../../../assets/scss/_build.scss';

.dropdown {

	&-menu {
		position: relative;
	}

	&-title {
		background: $light-blue;
		height: 3px;
	}

	&-name {
		@include flexbox;
		align-items: center;

		font-size: 1rem;
		color: $light-grey;
		cursor: pointer;

		margin-left: 10px;

		@include transition-animation;

		&::after {
			content: "";
			display: inline-block;
			width: 5px;
			height: 5px;
			transform: rotate(45deg);
			margin: 0 10px;
			border-left: none;
		  border-top: none;
		  border-right: 3px $light-grey solid;
		  border-bottom: 3px $light-grey solid;
			@include transition-animation;
		}

		&:hover,
		&:hover::after {
			color: $light-blue;
			border-color: $light-blue;
		}

	}

	&-list {
		position: absolute;
		top: 38px;
		left: 0;
		width: 120px;
		background-color: #fff;
		// border: 1px solid rgba($black, .1);
		// z-index: 3;
		// padding: 0 .5rem;
		box-shadow: 0px 1px 2px 1px rgba($black, .1);

		// &::before {
		// 	content: "";
		// 	display: inline-block;
		// 	// width: 5px;
		// 	// height: 5px;
		// 	float: right;
		// 	// transform: rotate(160deg);
		// 	margin-top: -6px;
		// 	margin-right: 0px;
		// 	// background-color: $light-grey;
		// 	// border-left: none;
		//   // border-top: none;
		//   // border-right: 3px $light-grey solid;
		//   // border-bottom: 1px $light-grey solid;
		// 	// border-style: solid;
	  //   // border-width: 10px 15px 10px 0;
	  //   // border-color: transparent rgba(225, 225, 225, .3) transparent transparent;
		// 	border-left: 6px solid transparent;
	  //   border-right: 6px solid transparent;
	  //   border-bottom: 6px solid $light-blue;
		// }
	}

	&-item {
		text-align: left;
		// margin: .5rem 0;

		&:last-child .dropdown-link {
			border-bottom: 0;
		}
	}

	&-link {
		color: $light-grey;
		text-transform: uppercase;
		text-align: left;
		font-family: "Lato Bold";
		display: block;
		font-size: .8rem;
		padding: 1rem 0 1rem 1rem;
		border-bottom: 1px solid rgba($black, .2);
		&:hover,
		&:hover .dropdown-icon {
			color: $light-blue;
		}
	}

	&-icon {
		font-size: .8rem;
    color: $light-grey;
    position: absolute;
    right: 10px;
	}
}
