@import '../../../assets/scss/_build.scss';

.loader {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  background: rgba(255,255,255, .5);
}

.loader-spinner {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader-spinner {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.9em solid rgba(0,98,196, 0.2);
  border-right: 0.9em solid rgba(0,98,196, 0.2);
  border-bottom: 0.9em solid rgba(0,98,196, 0.2);
  border-left: 0.9em solid #3695ff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@-webkit-keyframes load8 {
0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@keyframes load8 {
0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
