@import '../../assets/scss/_build.scss';

.projects {
	@include flexbox;
	flex-wrap: wrap;
}

.card {
	@include flexbox;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: 240px;
	max-width: 240px;
	height: 220px;

	margin: 0 25px 20px 0;

	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 8px rgba($black, .1), 0px 0px 8px rgba($black, .1);

	@include transition-animation;

	&:hover {
		border-color: rgba($black, .4);
		box-shadow: 0px 0px 8px rgba($black, .2), 0px 0px 8px rgba($black, .2);
	}

	&-project {
		@include flexbox;
		justify-content: center;
		flex-wrap: wrap;

		border-radius: 4px;

		> div {
			flex-grow: 1;
			width: 100%;
		}
	}

	&-header,
	&-body,
	&-footer {
		padding: 10px 15px;
		max-width: 100%;
		word-break: break-all;
	}

	&-header {
		width: 100%;
		padding: 10px 15px;

		h3 {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 140px;
		}
	}

	&-add {
		padding: 5px 15px;
		cursor: pointer;

		&--open {
			height: auto;
		}
	}

	&-create {
		width: 100%;
	}

	input {
		border: 0;
		box-shadow: none;

		padding: .5rem;
	}

	textarea {
		padding: .2rem .5rem;
	}

	label {
		font-size: .8rem;
		display: block;
		margin-bottom: .5rem;
	}

	input,
	textarea {
		border-radius: 2px;
		border: 1px solid #ccc;
		width: 100%;

		@include transition-animation;

		&:hover {
			border-color: rgba($black, .4);
		}

		&:focus {
			border-color: $light-blue;
			outline: 0;
		}
	}

	textarea {
		resize: none;
	}

	&-input {
		margin: 1rem 0;
	}

	&-btn {
		flex-basis: 48%;
		padding: .5rem;
		border-radius: 4px;
		color: $white;
		background-color: $light-blue;
		cursor: pointer;
		text-transform: uppercase;
		font-size: .85rem;
		@include transition-animation;

		&:hover {
			background-color: $deep-blue;
		}

		&--cancel {
			background-color: rgb(255, 90, 90);

			&:hover {
				background-color: darken(rgb(255, 90, 90), 10%);
			}
		}

		&--add {
			&:focus {
				outline: 0;
			}
		}

		&[disabled="disabled"] {
			opacity: .5;
			&:hover {
				background-color: #3695ff;
				opacity: .5;
			}
		}
	}

	&-add {
		justify-content: center;
	}

	&-plus {
		color: rgba($black, .5);
		cursor: pointer;
		@include transition-animation;

		&:hover {
			color: $light-blue;
		}
	}

	&-close,
	&-edit {
		color: #555;
		cursor: pointer;
		@include transition-animation;

		&:hover {
			color: rgb(255, 90, 90);
		}
	}

	&-edit {
		// color: $light-blue;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 35px;

		&:hover {
			color: $light-blue;
		}
	}

	&:hover &-check {
		opacity: 1;
	}

	&-header {
		@include flexbox;
		justify-content: space-between;
		align-items: center;
		font-family: Lato Black;
		color: rgba($black, .8);
		text-align: left;
		position: relative;
		// border-top-left-radius: 4px;
		// border-top-right-radius: 4px;
		// border-top: 3px solid $light-blue;
		// // border-image: $login-bg;
		border-bottom: 1px solid rgba($black, .15);

		&::before {
			display: block;
			content: "";
			width: 100%;
			height: 3px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			background-image: $login-bg;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&-date {
		font-family: Lato Black;
		font-size: 12px;
		color: rgba($black, .5);

		span {
			font-family: Lato Black;
			text-transform: uppercase;
		}
	}

	&-check {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0;
		cursor: pointer;
		@include transition-animation;

		&:hover {
			color: lightgreen;
		}
	}

	&-body {
		color: rgba($black, .6);
		font-size: .8rem;
		line-height: 1.3;
		height: 100px;
		overflow: hidden;
		text-overflow: ellipsis;

		&:hover {
			overflow: auto;
		}

		p {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&-footer {
		@include flexbox;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid rgba($black, .15);
		padding-top: 10px;

		&--create {
			@include flexbox;
			justify-content: space-between;
			border: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&-calendar,
	&-users {
		position: relative;
		vertical-align: middle;
		top: -1px;
		margin-right: 5px;
	}

	&-members {
		font-family: Lato Black;
		font-size: 12px;
		color: rgba($black, .5);
		text-transform: uppercase;
	}

	&-delete {
		// padding: 15px;
	}

	&-warning {
		padding: 15px;

		span {
			font-family: Lato Black;
			&:first-child {
				text-transform: uppercase;
			}
		}
	}

	&-form {
		&--delete {
			padding: 10px 15px;

			.card-input {
				margin: 0;
				margin-bottom: 1rem;
			}

			.card-footer {
				padding: 0;
			}
		}
	}

	&-warning {
		background-color: rgb(252, 252, 215);
		font-size: .7rem;
		line-height: 1.2;
	}

}

.fade-enter-active {
  transition: opacity 1s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

