@import '../../assets/scss/_build.scss';

body {
	background-color: $body-bg;
}

.app {
	&-menu {
		min-width: 150px;
		max-width: 200px;
		background-color: $white;
		border-right: 1px solid rgba($black, .1);
		position: fixed;
		height: 100%;
	}

	&-wrapper {
		width: calc(100% - 200px);
		margin-left: 200px;
	}

	&-area {
		padding: 2rem 1rem;
	}
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}
