@import '../../assets/scss/_build.scss';

body {
	background-color: $body-bg;
}

.app {
	&-menu {
    position: absolute;

    min-width: 150px;
    max-width: 200px;
    height: calc(100% - 60px);
    margin-top: 60px;

		background-color: white;
		border-right: 1px solid rgba($black, .1);
	}

	&-wrapper {
    position: absolute;
		width: calc(100% - 200px);
		margin-left: 200px;

		&--full {
			width: 100%;
			margin-left: 0;
		}
	}

	&-area {
    margin-top: 60px;
    padding-bottom: 60px;
    height: 100vh;
    overflow-y: scroll;
	}
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}
