@import '../../../assets/scss/_build.scss';

.main_bar {
	@include flexbox;
	position: relative;
	border-bottom: 1px solid rgba($black, .1);

	&-search {
		width: 70%;
	}

	&-input {
		font-family: "Lato Bold";
		font-size: 1.5rem;
		color: rgba($black, .75);
		caret-color: rgba($black, .35);

		background-color: initial;
		width: 100%;
		height: 60px;

		padding: 0;
		padding-left: 1rem;
		border: 0;

		&:focus {
			border: 0;
			outline: 0;
			background-color: transparent;
		}

		&:focus::placeholder {
			color: transparent;
		}

		&::placeholder {
			font-family: "Lato Regular";
			font-size: 1rem;
			color: rgba($black, .2);
		}
	}

	&-profile {
		@include flexbox;
		justify-content: flex-end;
		align-items: center;

		width: 30%;
		padding: 0;
		padding-left: .5rem;
	}
}

.profile {
	position: relative;

	&-wrapper {
		@include flexbox;
		align-items: center;
	}

	&-photo {
		border-radius: 50%;
		border: 3px solid rgba($black, .35);
		width: 45px;
		height: 45px;
	}
}
