@import '../../../assets/scss/_build.scss';

.app-menu {
  position: relative;


}

.menu {

  &-list {
    @include flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 2rem;

    &--logout {
      position: absolute;
      bottom: 20px;
    }
  }

  &-element {
    flex-basis: 100%;
  }

  &-link {
    position: relative;

    display: block;
    padding: .7rem 0;
    padding-left: 3rem;

    font-family: "Lato Bold";
    font-size: .9rem;
    color: $light-grey;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;

    &:hover,
    &:hover .menu-icon-logout {
      color: $light-blue;
    }
  }

  &-icon {
    position: absolute;
    left: 25px;

    font-size: .8rem;
    color: $light-grey;
  }
}

.router-link-active {
  color: $light-blue;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 4px;
    height: 25px;
    transform: translateY(-50%);

    background: $login-bg;
    box-shadow: 0px 0px 2px 1px rgba($light-blue, .5);
  }
}
