@import '../../../assets/scss/_build.scss';

.app-menu {
  position: relative;


}

.menu {
  &-expand {
    font-size: 1.2rem;
    color: $white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: darken($white, 30%);
    }
  }

  &-title {
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    font-family: "Lato Regular";
    color: $white;

    padding: 0 .5rem;
    background: $login-bg;
  }

  &-list {
    @include flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 2rem;

    &--logout {
      position: absolute;
      bottom: 20px;
    }
  }

  &-element {
    flex-basis: 100%;
  }

  &-link {
    font-family: "Lato Bold";
    font-size: .9rem;
    color: $light-grey;
    text-transform: uppercase;
    text-decoration: none;

    padding: .7rem 0;
    padding-left: 3rem;

    display: block;
    position: relative;

    &:hover,
    &:hover .menu-icon-logout {
      color: $light-blue;
    }
  }

  &-icon {
    font-size: .8rem;
    color: $light-grey;
    position: absolute;
    left: 25px;
  }
}

.router-link-active {
  color: $light-blue;

  &::before {
    content: "";
    width: 4px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    background: $login-bg;
    box-shadow: 0px 0px 2px 1px rgba($light-blue, .5);
    transform: translateY(-50%);
  }
}
