@import '../../assets/scss/_build.scss';


main {
  @include flexbox;
  align-items: center;
  background: $login-bg;

  height: 100vh;
}


.login {
  @include flexbox;
  justify-content: center;
  width: 100%;


  &-form {
    background-color: $white;

    width: 350px;
    height: 350px;
    padding: 2rem .5rem 1rem .5rem;

    border-radius: 3px;

    position: relative;
  }
}

.form {
  box-shadow: 0px 0px 10px 5px rgba($black, .25);
  &-title {
    text-align:center;
    margin-bottom: 3rem;
  }

  &-logo {
    width: 40px;
    max-width: 100%;
  }

  &-group {
    margin-bottom: 1.5rem;
    text-align: center;
    box-sizing: border-box;
  }

  &-input {
    font-size: 1rem;
    font-family: Lato;
    font-weight: 300;
    padding: .8rem .5rem;
    width: 100%;
    max-width: calc(100% - 25px);
    border-radius: 4px;
    border: 1px solid rgba($light-blue, .4);
    box-shadow: none;
    text-align: center;

    @include transition-animation;

    &:focus {
      outline: 0;
      border-color: $btn-color;
    }
  }
}

.btn-block {
  width: 100%;
  max-width: calc(100% - 25px);
  border-radius: 4px;
  margin-top: 1rem;
  padding: .8rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: Lato;
}
